@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

li, a , button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

nav {
    display: flex;
    background: rgb(61, 59, 59);
}

nav a {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    justify-content: center;
    color: white;
}

.hero-image {
    position: relative;
}